= javascript_include_tag "plupload.full.min.js"

= simple_form_for @fowl, html: { multipart: true } do |f|
	- if @fowl.errors.any?
		#errors
			#h2
			= pluralize(@fowl.errors.count, "error")
			prevented this from saving
			%ul
				- @fowl.errors.full_messages.each do |msg|
					%li= msg		

	.row
		.col-lg-12
			.panel.panel-success
				.panel-heading
					%h3.panel-tile
						Upload Images
				.panel-footer.panel-body
					.filelist{:id=>"filelist"}
					/ %ul
					/ 	%li
					/ 		%a{:id=>"pickfiles", :href=>"#"} [Select ]
					/ 		%img{:src => "http://placehold.it/150x150"}/
					/ 	%li
					/ 		%a{:id=>"pickfiles", :href=>"#"} [Select ]
					/ 		%img{:src => "http://placehold.it/150x150"}/
					/ 	%li
					/ 		%a{:id=>"pickfiles", :href=>"#"} [Select ]
					/ 		%img{:src => "http://placehold.it/150x150"}/
					/ 	%li
					/ 		%a{:id=>"pickfiles", :href=>"#"} [Select ]
					/ 		%img{:src => "http://placehold.it/150x150"}/
					/ 	%li
					/ 		%a{:id=>"pickfiles", :href=>"#"} [Select ]
					/ 		%img{:src => "http://placehold.it/150x150"}/
					/ 	%li
					/ 		%a{:id=>"pickfiles", :href=>"#"} [Select ]
					/ 		%img{:src => "http://placehold.it/150x150"}/

					.row
						.col-lg-12
							.upload
								%br
								%button{:type=>"button", :class=>"btn btn-default", :id=>"pickfiles", :href=>"#"} Select Image
								%br

	.row
		.col-lg-12
			.panel.panel-success
				.panel-heading
					%h3.panel-tile
						Upload Video
				.panel-footer.panel-body
					= f.file_field :video, input_html: { class: 'form-control' }
				
	.form-group
		= f.input :title, input_html: { class: 'form-control' }
	.form-group
		= f.input :price, input_html: { class: 'form-control' }
	.form-group
		= f.input :age, input_html: { class: 'form-control' }
	.form-group
		= f.label "Choose a Bloodline", class: 'control-label'
		= f.select(:category, options_from_collection_for_select(FowlCategory.all, :id, :name), class: 'form-control')

	.form-group
		= f.input :description, input_html: { class: 'form-control' }
	
		
	= f.button :submit, class: "btn btn-primary",   value: 'Submit Fowl' 



:javascript
	$(function(){
		var uploader = new plupload.Uploader({
			runtimes : "html5",
			autostart: true,
			browse_button : 'pickfiles',
			max_file_size : '10mb',
			url : "/upload.json",
			multipart: true,
			urlstream_upload: true,
			multipart_params: {
			 "authenticity_token" : '#{form_authenticity_token}'
			}
		});

		uploader.bind('FileUploaded', function(up, file, response) {
			var file = JSON.parse(response.response);

			$('#filelist').append('<div id="' + file.id+ '"class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" href="#"><img alt="" class="img-responsive" src="' + file.filepath + '"></a> <a onclick="myFunction(' + file.id+ ')" class="close" href="#">x</a></div>');
			$('#filelist').append('<input type="hidden" name="photos[]" value="' + file.id + '" />');
			$('#101').remove();
			
		})

		uploader.bind('FilesAdded', function(up, files) {

				if(up.files.length <= 5){
					$.each(files, function(i, file) {
						$('#filelist').append(
							'<img id="101" src="/assets/loading.gif">'
							);
						});

						uploader.start();
				}else{
					$('#101').remove();
					alert('Sorry, but you have reach the maximum of 5 uploads!');
				}


			});

		uploader.bind('UploadProgress', function(up, file) {			
			

		});
		
		$('#uploadfiles').click(function(e) {
		
		});

		uploader.init();


	});

		function myFunction(elem) {
			$('#' + elem).remove();

				var root = window.location.protocol + '//' + window.location.host;

				var url = root + "/photos/"+ elem +".xml";
				var xhReq = new XMLHttpRequest();
				xhReq.open("DELETE", url, false);
				xhReq.send(null);
			
		}

