= simple_form_for @fowl, html: { multipart: true } do |f|
	- if @fowl.errors.any?
		#errors
			#h2
			= pluralize(@fowl.errors.count, "error")
			prevented this from saving
			%ul
				- @fowl.errors.full_messages.each do |msg|
					%li= msg
	Upload Image				
	.form-group
		= f.file_field :image, input_html: { class: 'form-control' }
	Upload Video	
	.form-group
		= f.file_field :video, input_html: { class: 'form-control' }
		
	.form-group
		= f.input :title, input_html: { class: 'form-control' }
	.form-group
		= f.input :price, input_html: { class: 'form-control' }
	.form-group
		= f.input :age, input_html: { class: 'form-control' }
	.form-group
		= f.input :description, input_html: { class: 'form-control' }
		
	= f.button :submit, class: "btn btn-primary" 