#fowl_show.row
  .container
    .col-md-12
      %h2.title= @fowl.title
      %h2.price= number_to_currency(@fowl.price, unit: '₱') if @fowl.price
    .col-md-8
      .panel.panel-default
        .panel-heading.fowl_image.fotorama{"data-nav" => "thumbs"}
    
          - if @fowl.photos.present?
            - @fowl.photos.each do |photo|
              = image_tag photo.try(:image_url, :large)
          - else
            = image_tag('no-image.png')

        .panel-heading.fowl_video.text-center
          = video_tag @fowl.video_url, controls: true, style: " max-width: 70%;" if @fowl.video.present?
        .panel-body
          .row
            %h2.h2brown{:style => "margin-top:0px;"} Specifications
            .row
              .col-xs-12{:style => "line-height:25px;"}
                .row
                  .col-xs-6.col-lg-5 Bloodline :
                  .col-xs-6.col-lg-7= @fowl.try(:category).try(:name)
                .row
                  .col-xs-6.col-lg-5 Current Age :
                  .col-xs-6.col-lg-7= @fowl.age
                .row
                  .col-xs-6.col-lg-5 Weight :
                  .col-xs-6.col-lg-7= @fowl.weight
          %br
          .row
            %h2.h2brown{:style => "margin-top:0px;"} Full Details
            .row
              .col-xs-12{:style => "line-height:25px;"}
                %p= @fowl.description

        .panel-body
          .row
            / .col-md-6
            /   %p.user
            /   Submitted By
            /   - if @fowl.user
            /     = link_to @fowl.user.name, profile_path(@fowl.user.id) 
            .col-md-6
              .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}
            .col-md-6
              .btn-group.pull-right
                - if user_signed_in?
                  - if @fowl.user_id == current_user.id
                    = link_to 'Edit', edit_fowl_path, class: "btn btn-default"
                    = link_to 'Delete', fowl_path, method:  :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"

        .panel-footer
          .row
            .col-md-6
              #comment
                %h2.comment_count= pluralize(@fowl.comments.count, "Comment")
                - @fowl.comments.each do |comment|
                  .comment
                    %p.username= comment.user.email
                    %p.content= comment.content
                %br
                = render "comments/form"

    .col-md-4
      .contact-box
        %h2.title Contact the Seller
        .location
          %span.glyphicon.glyphicon-user
          = @fowl.user.name
        .location
          %span.glyphicon.glyphicon-map-marker
          = @fowl.user.location
        %span.glyphicon.glyphicon-calendar
        Member since 
        = @fowl.user.created_at.strftime(" %b %C")
        %br
          %br
            %a.btn.btn-orange.btn-block.btn-responsive{:href => "#"}
              %span.glyphicon.glyphicon-earphone
              = @fowl.user.contact_number
            %hr
              %a.btn.btn-orange.btn-block.btn-responsive{:href => "#"}
                %span.glyphicon.glyphicon-envelope
                Email Seller



