!!! 5
%html
	%head
		%meta{:content => "The Rock", :property => "og:title"}/
		%meta{:content => "movie", :property => "og:type"}/
		%meta{:content => "http://thecockers.net/fowls/6", :property => "og:url"}/
		%meta{:content => "http://thecockers.net/system/fowls/images/000/000/006/original/IMG_4724.JPG?1446893742", :property => "og:image"}/
		%meta{:content => "thecockers.net", :property => "og:site_name"}/
		%meta{:content => "test sa ko", :property => "og:description"}/
		%title= content_for?(:title) ? yield(:title) : "Game Fowls"
		= stylesheet_link_tag	'application', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-default.alert-success
			.container
				.navbar-logo= link_to image_tag('cocker.jpg'), root_path
				- if user_signed_in?
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "New Fowl", new_fowl_path
						%li= link_to "Profile", edit_user_registration_path
						%li= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "Sign Up", new_user_registration_path
						%li= link_to "Sign In", new_user_session_path
		.container
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
				
			= yield	
		#fb-root
		:javascript
		  (function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
		        js = d.createElement(s); js.id = id;
		        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
		        fjs.parentNode.insertBefore(js, fjs);
		      }(document, 'script', 'facebook-jssdk'));/ Your like button code
		