!!! 5
%html
%head
	%title Game Fowls
	= stylesheet_link_tag	'application', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body.contacts_layout
	- flash.each do |name, msg|
		= content_tag :div, msg, class: "alert alert-info text-center"
	= yield